{% extends "layout.html" %}

{% block title %}
    Your Current Portfolio
{% endblock %}

{% block main %}
    <body>
        <table border=1>
            <tr>
                <th>Stock</th>
                <th>Number of Shares</th>
                <th>Current Price Per Share</th>
                <th>Total Value of Shares</th>
            </tr>
            {% for i in range(length) %}
            <tr>
                {% for j in range(4) %}
                    {% if j == 0 %}
                    <td>
                        {{stockOwned[i]}}
                    </td>
                    {% endif %}
                    {% if j == 1 %}
                    <td>
                        {{amt[i]}}
                    </td>
                    {% endif %}
                    {% if j == 2 %}
                    <td>
                        {{currPriceStock[i]}}
                    </td>
                    {% endif %}
                    {% if j == 3 %}
                    <td>
                        {{val[i]}}
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        Your total cash is {{totCash}}. Your total cash and value from stocks is {{totCashStock}}.
    </body>
{% endblock %}
